{% extends 'admin.html.twig' %}

{% block title %}Voulez vous supprimez le catégorie "{{ category.title }}" {% endblock %}


{% block body %}
<form method="POST" action="{{ path('category_del_confirm', {'id': category.id}) }}">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete-value') }}">

    <a href="{{ path('category_list') }}" class="btn btn-secondary">Retour</a>
    <input type="submit" class="btn btn-success" value="Supprimer">
</form>
{% endblock %}